---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer2.astro";
import Header4 from "~/components/header4.astro";
import Toptriple from "~/components/toptriple.astro";
import "~/styles/index.css";
import Hero2 from "~/components/heromin.astro";
import Contentcta from "~/components/contentcta.astro";
import Topsingle from "~/components/topsingle.astro";
import Topdouble from "~/components/topdouble.astro";
import Topnews from "~/components/topnews.astro";
import Topguides from "~/components/topguidesimage.astro";
import Adhorizontal from "~/components/adhorizontal.astro";
import Guidesmin from "~/components/guidesmin.astro";
import Categorybar from "~/components/CategoryBar.astro";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description = "Welcome to GearWelt";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/watch.svg" type="image/svg+xml" />
  <meta name="generator" content={generator} />

  <title>GearWelt | Where passion meets precision</title>
  <meta name="description" content={description} />

  <!-- social media -->
  <meta property="og:title" content="Astro" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={site} />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@1,300&display=swap"
    rel="stylesheet" />
</head>

<body class="h-full bg-white selection:bg-secondary selection:text-white">
  <!-- <Header /> -->
  <Header4 />
  <div class="space-y-14">
    <Hero2 />
  </div>

  <Categorybar />
  <Topsingle />
  <Adhorizontal />
  <Topdouble />
  <Topnews />
  <Topguides />
  <Toptriple />

  <!-- <Guidesmin /> -->
  <!-- <Splash class="h-min" /> -->
  <!-- <Intro /> -->
  <!-- <Features /> -->
  <!-- <Cta /> -->
  <!-- <Compatibility /> -->
  <!-- <Showcase /> -->

  <Contentcta />
  <Footer />
</body>

</html>

<!-- initialize theme -->
<script is:inline>
  const themeSaved = localStorage.getItem("theme");

  if (themeSaved) {
    document.documentElement.dataset.theme = themeSaved;
  } else {
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;
    document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
  }

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      if (!localStorage.getItem("theme")) {
        document.documentElement.dataset.theme = event.matches
          ? "dark"
          : "light";
      }
    });
</script>