---
// CategoryBar.astro

const mainCategories = [
"Outdoors", "Style", "Cars", "Tech", "Living", "Culture"
];

const subCategories = [
{ name: "Digest", href: "/post" },
{ name: "Guides", href: "/guides" },
{ name: "Everyday Carry (coming soon)", href: "/" },
];
---

<div class="max-w-4xl mx-auto pt-5 border-b border-transparent px-4">
    <div class="flex flex-wrap justify-center gap-2 sm:gap-4 sm:justify-between sm:flex-nowrap">
        {mainCategories.map(category => (
        <a href={`/category/${category.toLowerCase()}`}
            class="text-black font-extrabold text-base sm:text-lg cursor-pointer hover:text-amber-600 uppercase sm:whitespace-nowrap"
            key={category}>
            {category}
        </a>
        ))}
    </div>
</div>

<div class="max-w-4xl mx-auto mt-3 flex flex-col gap-1.5">
    <div class="h-0.5 bg-black rounded"></div>
    <div class="h-0.5 bg-black rounded"></div>
</div>

<!-- <div class="max-w-4xl mx-auto py-3 px-4">
    <div class="flex flex-wrap justify-center gap-3 sm:gap-6">
        {subCategories.map(category => (
        <a href={`/category/${category.toLowerCase().replace(/\s+/g, "-" )}`}
            class="text-black font-semibold text-xs sm:text-sm cursor-pointer hover:text-amber-600 whitespace-normal sm:whitespace-nowrap"
            key={category}>
            {category}
        </a>
        ))}
    </div>
</div> -->
<!-- Sub Categories Bar -->
<div class="max-w-4xl mx-auto py-3 px-4">
    <div class="flex flex-wrap justify-center gap-3 sm:gap-6">
        {subCategories.map(({ name, href }) => (
        <a href={href}
            class="text-black font-semibold text-xs sm:text-sm cursor-pointer hover:text-amber-600 whitespace-normal sm:whitespace-nowrap"
            key={name}>
            {name}
        </a>
        ))}
    </div>
</div>

<div class="max-w-4xl mx-auto border-b-2 border-gray-700"></div>