---
const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<div
  class="wrapper horizontalbar mx-auto my-10 grid max-w-6xl list-none grid-cols-3 gap-8 text-gray-100"
>
  {/* Loop with images */}
  {
    posts
      .sort((a, b) => {
        const aDate = new Date(a.frontmatter.pubDate);
        const bDate = new Date(b.frontmatter.pubDate);
        return bDate - aDate;
      })
      .slice(0, 3)
      .map((post) => (
        <li class="flex h-full flex-col border-2 border-stone-400 text-center">
          <a href={"/post/" + post.frontmatter.slug}>
            <img
              class="mb-4 h-80 w-full object-cover"
              src={post.frontmatter.image}
              alt={post.frontmatter.title}
            />
            <p class="my-2 font-bold text-gray-950 text-xl">
              {post.frontmatter.title}
            </p>
            <p
              class="guide-decription  my-2 text-gray-900"
              style="font-size: .7rem;"
            >
              &#10711; {post.frontmatter.minutesRead}
            </p>
            <p
              class="guide-decription my-2 text-gray-950"
              style="font-size: .8rem;"
            >
              {post.frontmatter.description}
            </p>
            <p class="px-5 text-gray-900">{post.frontmatter.excerpt}</p>
            <p class="my-2 font-light text-gray-950" style="font-size: .8rem;">
              {post.frontmatter.pubDate} | Posted
              {post.frontmatter.pubTime}
            </p>
          </a>
        </li>
      ))
  }
</div>
