---
const posts = await Astro.glob("../pages/post/**/*.mdx");
const guides = await Astro.glob("../pages/guides/**/*.mdx");
---

<aside class="ml-8 hidden h-full min-h-screen lg:block">
  <div class="social-media mb-4 bg-black p-4 text-white">
    <ul class="space-y-2">
      <li>
        <a
          href="https://linktr.ee/gearwelt"
          target="_blank"
          class="inline-flex w-full items-center justify-center border-2 border-gray-300 px-4 py-2.5 font-medium text-gray-900 text-white text-base focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:focus:ring-gray-600"
        >
          <svg
            class="-ml-1 mr-2 h-5 w-5"
            fill="currentColor"
            viewBox="0 0 23 23"
          >
            <path
              d="M11 21v-4.26c-.47.17-.97.26-1.5.26C7 17 5 15 5 12.5c0-1.27.5-2.41 1.36-3.23C6.13 8.73 6 8.13 6 7.5 6 5 8 3 10.5 3c1.56 0 2.94.8 3.75 2h.25a5.5 5.5 0 0 1 5.5 5.5 5.5 5.5 0 0 1-5.5 5.5c-.5 0-1-.07-1.5-.21V21h-2z"
            ></path>
          </svg> Linktree
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/gearwelt"
          target="_blank"
          class="dtext-white inline-flex w-full items-center justify-center border-2 border-gray-300 border-white px-4 py-2.5 font-medium text-white text-base focus:ring-4 focus:ring-gray-100 focus:ring-gray-800"
        >
          <svg
            class="-ml-1 mr-2 h-5 w-5"
            fill="currentColor"
            viewBox="0 0 23 23"
          >
            <path
              d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8 1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5 5 5 0 0 1-5 5 5 5 0 0 1-5-5 5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3z"
            ></path>
          </svg> Instagram
        </a>
      </li>
    </ul>
  </div>

  <div class="recent-posts bg-black p-4 text-white">
    <h3 class="gradient-text pb-3 font-bold text-lg">Recent Posts</h3>
    <ul class="pb-6">
      {
        posts
          .sort((a, b) => {
            const aDate = new Date(a.frontmatter.pubDate);
            const bDate = new Date(b.frontmatter.pubDate);
            return bDate - aDate;
          })
          .slice(0, 6)
          .map((post) => (
            <li class="py-2">
              <a href={"/post/" + post.frontmatter.slug} class="block">
                <img
                  src={post.frontmatter.image}
                  alt={post.frontmatter.title}
                  class=""
                />
                <small class="font-bold">{post.frontmatter.title}</small>
                <br />
                <small class="text-gray-400">
                  {post.frontmatter.pubDate} {post.frontmatter.pubTime}
                </small>
                <small class="gradient-text">{post.frontmatter.author}</small>
              </a>
            </li>
          ))
      }
    </ul>

    <ul>
      {
        posts
          .sort((a, b) => {
            const aDate = new Date(a.frontmatter.pubDate);
            const bDate = new Date(b.frontmatter.pubDate);
            return bDate - aDate;
          })
          .slice(5, 7)
          .map((post) => (
            <li class="pb-3">
              <a href={"/post/" + post.frontmatter.slug} class="block">
                <small class="font-bold">{post.frontmatter.title}</small>
                <p class="font-light text-xs">{post.frontmatter.description}</p>
                <small class="text-gray-400">{post.frontmatter.pubDate}</small>
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</aside>
