---
const posts = await Astro.glob("../pages/guides/**/*.mdx");
---

<div class="wrapper mx-auto max-w-6xl border-2 border-stone-500">
  <div class="recent-posts p-2 py-5">
    <div class="heading">
      <a href="/guides">
        <h2 class="text-center text-black">Gadget Compendium</h2>
      </a>
      <hr class="w-full border-t border-black" />
    </div>
    <div class="horizontalbar">
      <div
        class="right my-3 grid gap-5 sm:grid-cols-[repeat(auto-fill,minmax(380px,1fr))]"
      >
        {
          posts.slice(0, 4).map((post) => (
            <div
              key={post.frontmatter.slug}
              class="flex rounded-lg bg-white p-4"
            >
              <a href={"/guides/" + post.frontmatter.slug} class="sm:flex">
                <img
                  class="mr-4 mt-2 rounded-lg object-cover sm:h-40 sm:w-40"
                  src={post.frontmatter.image}
                  alt={post.frontmatter.title}
                />
                <div class="flex flex-col justify-between">
                  <div>
                    <p class="font-bold text-gray-900 text-lg">
                      {post.frontmatter.title}
                    </p>
                    <p class="guide-decription text-sm">
                      {post.frontmatter.description}
                    </p>
                    <p class="text-gray-900 text-sm">
                      {post.frontmatter.excerpt}
                    </p>
                  </div>
                  <div class="flex items-center justify-between">
                    <p class="guide-decription text-gray-900 text-xs">
                      &#10711; {post.frontmatter.minutesRead}
                    </p>
                  </div>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
