---
const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<div class="wrapper mx-auto my-10 max-w-6xl border-2">
  <!-- Loop with images -->
  {
    posts
      .sort((a, b) => {
        const aDate = new Date(a.frontmatter.pubDate);
        const bDate = new Date(b.frontmatter.pubDate);
        return bDate - aDate;
      })
      .slice(0, 1)
      .map((post) => (
        <li class="flex flex-col border-2 border-stone-400 text-center">
          <a href={"/post/" + post.frontmatter.slug}>
            <img
              class="mb-4 h-auto w-full object-cover"
              src={post.frontmatter.image}
              alt={post.frontmatter.title}
            />
            <!-- Display tags above the title with dividers and links -->
            <div class="mb-2 space-x-2">
              {post.frontmatter.tags && post.frontmatter.tags.map((tag, index) => (
                <span key={index} class="text-sm">
                  <a
                    href={`/tags/${tag}`}
                    class="text-stone-400 hover:underline"
                  >
                    {tag}
                  </a>
                  {index < post.frontmatter.tags.length - 1 && (
                    <span class="mx-1 text-gray-400">|</span> 
                  )}
                </span>
              ))}
            </div>
            <p class="my-2 font-bold text-gray-950 text-xl">
              {post.frontmatter.title}
            </p>
            <p
              class="guide-decription my-2 text-gray-950"
              style="font-size: .8rem;"
            >
              {post.frontmatter.description}
            </p>
            <p class="px-1 text-gray-900">{post.frontmatter.excerpt}</p>
            <p class="my-2 font-light text-gray-950" style="font-size: .8rem;">
              {post.frontmatter.pubDate} | Posted
              {post.frontmatter.pubTime}
            </p>
            <p
              class="guide-decription  my-2 text-gray-900"
              style="font-size: .7rem;"
            >
              &#10711; {post.frontmatter.minutesRead}
            </p>
            <div class="my-3">
            <a
              href={"/post/" + post.frontmatter.slug}
              class="text-md mx-2 font-serif italic text-amber-600 hover:text-gray-700 hover:underline"
            >
              Read
            </a>
            <span class="text-md mx-2 font-serif italic text-gray-600">or</span>
            <a
              href={post.frontmatter.buyLink}
              target="_blank"
              rel="noopener noreferrer"
              class="text-md mx-2 font-serif italic text-amber-600 hover:text-gray-700 hover:underline"
            >
              Buy
            </a>
          </div>
          </a>
          
        </li>
      ))
  }
</div>

