---
import "../styles/blog.css";
import "../styles/global.css";
import Header from "../components/header4.astro";
import Footer from "../components/footer2.astro";
// import Footer2 from "../components/footer2.astro";
import Accordian from "../components/accordian.astro";
import Sidebar from "../components/sidebar.astro";
import Cta from "../components/cta.astro";
import Horizontalbar from "~/components/toptriple.astro";
import Horizontalbar2 from "~/components/guidesmin.astro";
import PostViews from "~/components/PostViews.astro";

const { minutesRead } = Astro.props.frontmatter;
const {
  frontmatter: {
    title,
    description,
    pubDate,
    pubTime,
    image,
    author,
    credit,
    slug,
    buyLink,
    product,
  },
} = Astro.props;

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/watch.svg" type="image/svg+xml" />

    <!-- <title>{pageTitle}</title> -->
  </head>

  <body class="h-min bg-white text-white">
    <Header />
    <div
      class="mx-auto flex min-h-screen max-w-5xl rounded-lg border p-5 pt-10 shadow-md"
    >
      <main class="flex-3 font-normal tracking-wider text-gray-900">
        <a href="javascript:history.back()" class="text-black"
          >Back to Previous</a
        >
        <a class="text-black">| {title}</a>
        <article class="mdx">
          <div class="flex flex-col items-start space-y-1">
            <h1 class="font-extrabold tracking-tighter text-4xl">{title}</h1>
            <div class="flex w-full justify-between text-gray-900">
              <small class="text-stone-500">Written by: &#x270E; {author}</small
              >
              <small class="text-right"
                >&#10711; {minutesRead} <PostViews slug={slug} /></small
              >
            </div>
          </div>

          <br />
          <div class="article-body">
            {image && <img class="w-full " src={image} alt="" />}
            <small class="text-black">
              Published on: {pubTime} •
              {pubDate && <time class="mt-2 inline-block">{pubDate}</time>}
              {credit}
            </small>
            <hr class="my-4 border-t-2" />
            <slot class="mdx" />
          </div>
        </article>

        {/* Conditionally render the buyLink */}
        {
          buyLink && (
            <div class="mt-6">
              <a href={buyLink} class="text-amber-500 hover:text-amber-700">
                Buy the {product}
              </a>
            </div>
          )
        }

        <br />
        <a href="javascript:history.back()" class="text-black"
          >Back to Previous</a
        >
        <span>|</span>
        <a href="/" class="text-black">Back to Home</a>
      </main>
      <div class="sidebar-container flex flex-1 flex-col">
        <Sidebar />
      </div>
    </div>

    <!-- Accordion component -->
    <Accordian />

    <!-- Call to action social media component -->
    <Cta />
    <Horizontalbar2 />
    <Horizontalbar />
  </body>
</html>
<Footer />
